$smallest: 375px; // Smallest phones
$tablet: 768px;      // iPad
$tablet-pro: 1024px; // iPad Pro
$desktop: 1200px;

html {
  scroll-behavior: smooth;
}

.landing {
    min-height: 100vh; // take full screen height
    background-color: #F9FAFB; // white page

    &.english {
      background-color: #cce4f832; 

      .hero {
        h1 {
          color: #3B82F6;
        }

        p {
          color: #3B82F6;
        }
      }
    }

    &.english {
      .hero {
        .desktopButton,
        .phoneButton {
          background-color: #1E3A8A; // blue for English page
          color: white;
          border: none;
  
          &:hover {
            background-color: #2563eb; // darker blue
          }
        }
      }
    }

    
  }

  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    padding: 5rem 2rem 1rem 2rem;
    margin: .5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background: linear-gradient(125deg, rgb(255, 254, 254), #d9d9d946);

    .desktopButton,
    .phoneButton {
      background-color: #E0675B;
      color: white;
      border: none;

      &:hover {
        background-color: #d95b4e;
      }
    }

    .desktopButton {
      
      background-color: #E0675B;  
      color: white;             
      border: none;

      &.english {

        background-color: #1E3A8A; 

      }

      &:hover {
        background-color: #e0665b85; 
      }
    }


    .phoneButton {
      background-color: #E0675B;
      color: white;
      border: none;

      &:hover {
        background-color: #1E3A8A;
      }
    }

    .phoneButton {
      display: inline-block;
    }
    .desktopButton {
      display: none;
    }
  
    p {
      font-size: .8rem;
      color: #E0675B;
      padding: 1rem;
    }

    .mainTitle {
      font-size: 1.5rem;
      font-weight: 300;
      color: #E0675B;
    }

    .subTitle {
      font-size: 1rem;
      font-weight: 200;
      color: #555;
    }

    .mainPicture {
      width: 70%;
      height: 18rem;
      overflow: hidden;
      
    }

    .groguImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3rem;
      
    }


    @media (min-width: $tablet) {
        p {
          font-size: 1.2rem;
          padding: 1rem;
        }
    
        .mainTitle {
          font-size: 2.8rem;
        }
    
        .subTitle {
          font-size: 1.5rem;
        }
    
        .mainPicture {
          width: 60%;
          height: 28rem;
          overflow: hidden;
          border-radius: 1rem;
          margin-bottom: 2rem;
        }

      // iPad
    }

    @media (min-width: $tablet-pro)  {
        p {
          font-size: 1.5rem;
          padding: 1rem;
        }
    
        .mainTitle {
          font-size: 3.5rem;
        }
    
        .subTitle {
          font-size: 2rem;
          font-weight: 200;
          color: #555;
        }
    
        .mainPicture {
          width: 50%;
          height: 30rem;
          overflow: hidden;
          margin-bottom: 3rem;
        }

       // iPad Pro
    }

    @media (min-width: $desktop) {

      flex-direction: row-reverse;

      .phoneButton { display: none; }
      .desktopButton { display: inline-block; }

      .heroTitles {
        width: 45%;
      }

      .mainPicture {
        width: 45%;
        border-radius: 3rem;

        .groguImage {
          width: 50%;
          height: 100%;
          border-radius: 3rem;
        }
      }

        p {
          font-size: 1.5rem;
          color: #E0675B;
          padding: 1rem;
        }
    
        .mainTitle {
          font-size: 2.5rem;
          font-weight: 300;
          color: #E0675B;
        }
    
        .subTitle {
          font-size: 1.5rem;
          font-weight: 200;
          color: #555;
        }
    
   // Desktop
    }


  }

  .aboutMe {

    &.english {
      background-color: #cce4f832; 

      .thisIsMe {

        h2 {
          color: #3B82F6;
        }

        p {
          color: #3c3c3cb4;
        }
      }
    }


    margin-top: 4rem;

    .thisIsMe {
      
      margin: 1.5rem;

      h2 {
        color: #E0675B;
        font-weight: 200;
        font-size: 2.5rem;
        
      }

      h3 {
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000a5;
      }

      p {
        color: #64646498;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: justify;
      }

  

      @media (min-width: $desktop) {
        h2 {
          font-size: 2.5rem;
        }
    
        h3 {
          font-size: 1.5rem;
          font-weight: 200;
        }
    
        p {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
    }

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;   // side by side
      justify-content: space-between; // push left & right apart
      gap: 1rem;             // optional spacing between left & right
      padding: 2rem;
    
      .left, .right {
        flex: 1;             // each takes equal space
      }
    
      .right {
        display: flex;
        justify-content: flex-end; // push features to right edge
        padding-top: 4rem;
      }

      @media (min-width: $tablet-pro)  {
        .thisIsMe p {
          padding-top: 2rem;
          font-size: 1.5rem;
        }

        .right {
          display: flex;
          justify-content: flex-end; // push features to right edge
          padding-top: 5.1rem;
        }


       // iPad Pro
    
    }
    @media (min-width: $desktop) {
      .right {
        display: flex;
        justify-content: flex-end; // push features to right edge
        padding-top: 3.1rem;

        h1 {
          font-size: 1rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
      // Desktop
  }


}

.mathMain {
  margin-top: 2rem;
  width: 100%;         
  padding: 0.5rem;   
  box-sizing: border-box; 
  display: flex;
  justify-content: center; 

  &.english {
    img {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.mathMain .mathImage  {
  border-radius: 1rem;
  width: 100%;
}


// Services Section

.services {
  margin-top: 4rem;
  background: linear-gradient(125deg, rgb(255, 254, 254), #d9d9d946);
  margin: 3rem .5rem;
  border-radius: 1rem;
  padding: 3rem 1rem 4rem 1rem;
  box-shadow: 0 1px 2px 0 rgba(63, 63, 63, 0.2), 0 1px 2px 0 rgba(63, 63, 63, 0.2);

  &.english {
    background: linear-gradient(125deg, rgb(255, 254, 254), #CEE5FF);

    h2 {
      color: #1E3A8A;
    }
  }

  h3 {
    font-size: 5rem;
  }

  h2 {
    color: #E0675B;
    text-align: center;
    font-weight: 00;
    font-size: 1.5rem;

    @media (min-width: $tablet-pro) {
      font-weight: 300;
      font-size: 3rem;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 4.5rem;
    }
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000a5;
    padding: .5rem 1rem;

    @media (min-width: $tablet-pro) {
      font-weight: 400;
      font-size: 2rem;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 2.5rem;
  }

}

  p {
    color: #555;
    text-align: center;
    font-size: .8rem;
    font-weight: 200;
    padding: .5rem 1rem;

    @media (min-width: $tablet) {
      font-size: 1.2rem;
      font-weight: 300;
    }

    @media (min-width: $tablet-pro) {
      font-weight: 300;
      font-size: 1.5rem;
    }
    
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 2.2rem;
  }
  }
  


}

.featuresList {
  padding: .5rem;
}


// grid container for the cards (mobile-first)
.servicesList {
  display: grid;
  grid-template-columns: 1fr; 
  gap: .5rem;                 
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: start;
}

/* 2 columns on small tablets */
@media (min-width: $tablet) {
  .servicesList {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
  }
}

/* 4 columns on desktop */
@media (min-width: $desktop) {
  .servicesList {
    grid-template-columns: repeat(4, 1fr);
  }
}

.services {
  h2 {
    color: #E0675B;
    text-align: center;
    font-weight: 200;
    font-size: 2rem;

    @media (min-width: $tablet-pro) {
      font-weight: 300;
      
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:200;
      font-size: 3rem;
    }

  }

  h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000a5;
    padding: .5rem 1rem;


    @media (min-width: $tablet-pro) {
      font-weight: 400;
      font-size: 1.5rem;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 2.5rem;
  }

}

  p {
    color: #555;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    padding: .5rem 1rem;

    @media (min-width: $tablet) {
      font-size: 1rem;
      font-weight: 300;
    }

    @media (min-width: $tablet-pro) {
      font-size: 1rem;
      font-weight: 300;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 1.5rem;
  }
  }

}

.testimonials {
  padding-bottom: 2rem;

  &.english {

    h2 {
      color: #1E3A8A;
    }

  }
}


  // grid container for the cards (mobile-first)
.testimonialsList {
  display: grid;
  grid-template-columns: 1fr; 
  gap: .5rem;                 
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: start;
}

/* 2 columns on small tablets */
@media (min-width: $tablet) {
  .testimonialsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
  }
}

/* 4 columns on desktop */
@media (min-width: $desktop) {
  .testimonialsList {
    grid-template-columns: repeat(4, 1fr);
  }
}

.testimonials {

  
  h2 {
    color: #E0675B;
    text-align: center;
    font-weight: 200;
    font-size: 2rem;

    @media (min-width: $tablet-pro) {
      font-weight: 300;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:200;
      font-size: 3rem;
    }
  }

  h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000a5;
    padding: .5rem 1rem;

    @media (min-width: $tablet-pro) {
      font-weight: 400;
      font-size: 1rem;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 1.5rem;
  }

  }

  p {
    color: #555;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    padding: .5rem 1rem;

    @media (min-width: $tablet) {
      
      font-size: 1rem;
      font-weight: 300;
    }

    @media (min-width: $tablet-pro) {
      font-weight: 300;
      font-size: 1rem;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 1.5rem;
  }
  }

}

.prices {
  margin-top: 4rem;
  background: linear-gradient(125deg, rgb(255, 254, 254), #d9d9d946);
  margin: 3rem .5rem;
  border-radius: 1rem;
  padding: 1rem 1rem 4rem 1rem;
  box-shadow: 0 1px 2px 0 rgba(63, 63, 63, 0.2), 0 1px 2px 0 rgba(63, 63, 63, 0.2);

  &.english {

    h2 {
      color: #1E3A8A;

  }

  .phones {
    h3 {
      color: #0135b8;
    }
  }
}

  @media (min-width: $tablet) {
    .phones {
      display: none;
    }

  }
  
  /* 4 columns on desktop */
  @media (min-width: $desktop) {
    font-weight:300;
    font-size: 4.5rem;
  }

  h2 {
    color: #E0675B;
    text-align: center;
    font-weight: 200;
    font-size: 2rem;



    @media (min-width: $tablet-pro) {
      font-weight: 300;
    }
    
    /* 4 columns on desktop */
    @media (min-width: $desktop) {
      font-weight:200;
      font-size: 3rem;
    }
  }

  h4 {
    color: #525252;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    padding: 1rem 0rem;

    @media (min-width: $tablet-pro) {
      font-weight: 300;
    }

    @media (min-width: $desktop) {
      font-weight:300;
      font-size: 1.5rem;
      
    }

  }



  .pricesClosed {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background-color: #F88379;
    border: .5px solid #F88379;
    margin: 1rem 0rem;
    border-radius: 1rem;    
    padding: 1rem 2rem;        
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    width: 100%;

    &.english {
      background-color: #144b89;
      border: .5px solid #1E3A8A;

      h3 {
        color: rgba(255, 255, 255, 0.784);
        padding-left: 1rem;
        font-weight: 200;
        font-size: 1.1rem;
      }
    }

    h3 {
      color: white;
      padding-left: 1rem;
      font-weight: 300;
    }

    img {
      display: flex;
      height: 3rem;
      padding-top: .5rem;
      align-self: center;
    }
  }

  .arrowDown {
    transition: transform .5s ease;
  }
  .arrowDown.open {
    transform: rotate(-180deg);
  }

  .priceListMobile {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;

    
  }

  .priceListMobile.open {
  max-height: 500px; // adjust as needed
  
  
}

ul {
    padding: 0;
    margin: 0;

    img {
      display: none;
    }
}

  .priceListMobile li {
    opacity: 0;
    transform: translateY(-16px);
    transition: transform 400ms ease, opacity 400ms ease;
    

  }
  .priceListMobile.open li {
    opacity: 1;
    transform: translateY(-20);

    
  }

  .priceDesktop {
    display: none; 

    @media (min-width: $tablet) {
      
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; 


      img {
        display: none;

      }
    }
    

    @media (min-width: $desktop) {


      
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem; 

      h3 {
        font-size: 1.2rem;
      }

      
      
      img {
        display: none;
      }
    }
  }
}

.contactMe {

  background-image: url("../../assets/pictures/Contact-me.png");
  background-size: cover;
  background-position: center;
  height: 45vh;

  &.english {

    background-image: url("../../assets/pictures/contact-meB.svg");

    h1,p {
      color: #1E3A8A;
      
    }
}

  margin: 2rem .5rem;
  border-radius: 1rem;
  padding: 0rem 0rem 1rem 0rem;
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $smallest) {
    height: 50vh;
  }

  @media (min-width: $tablet) {
    background-image: url("../../assets/pictures/Contact-meiPad.png");
    height: 45vh;
    border-radius: 2rem;

  }

  @media (min-width: $tablet-pro)  {
    background-image: url("../../assets/pictures/ContactiPadPro.png");
    height: 35vh;
  }

  @media (min-width: $desktop)  {
    background-image: url("../../assets/pictures/Contact-meDesktop.png");
    height: 90vh;

    &.english {
      background-image: url("../../assets/pictures/rectBDesktop.svg");

    }
  }

  img {
    width: 100%;
  }

  .contactMeImage {
    z-index: 0;
  }

  .contactMeText {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 1rem 2rem;
    color: white;
    width: 88%;

    h1 {
      font-weight: 300;
      font-size: 1.8rem;
      padding: .5rem;
    }

    p {
      font-weight: 200;
      font-size: 1rem;
    }

    @media (max-width: $smallest) {
      h1 {
        padding: 0;
        margin: 0;
        font-weight: 300;
        font-size: 1.2rem;
      }

      p {
        font-weight: 200;
        font-size: .8rem;
      }

    }
    

    @media (min-width: $tablet) {
      h1 {
        font-weight: 300;
        font-size: 2.5rem;
      }
  
      p {
        font-weight: 200;
        font-size: 1.4rem;
      }
      
  
    }
  
    @media (min-width: $tablet-pro)  {
      h1 {
        font-weight: 300;
        font-size: 2.5rem;
      }
  
      p {
        font-weight: 200;
        font-size: 1.4rem;
      }
    }
  
    @media (min-width: $desktop)  {
      h1 {
        font-weight: 300;
        font-size: 2.5rem;
      }
  
      p {
        font-weight: 200;
        font-size: 1.2rem;
        padding: 1rem 8rem;
      }
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 200;
      padding: .5rem;
      color: rgb(255, 255, 255);

      @media (min-width: $desktop) {
        font-size: 1.5rem;
      }
    }


    .footerGmailRow {
      color: #353535a5;
      display: flex;
      align-items: center;   
      gap: 0.75rem;          
      margin-top: .5rem;
      margin-left: 2rem;
      background-color: rgba(255, 255, 255, 0.752);
      padding: 1rem;
      border-radius: .5rem;
      text-decoration: none;
      cursor: pointer;

      @media (min-width: $smallest) {
        margin-left: 0rem;
      }


      @media (min-width: $tablet) {
        margin-left: 0rem;
        padding: 1.5rem;
      }


      @media (min-width: $desktop) {
        margin-left: 12rem;
        padding: 0rem;
        border-radius: 1rem;
        width: 70%;
      }
    }

    .footerGmailRow:hover {
      opacity: 0.85;
    }
    
    .footerGmailRow span {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
        color: #c2c2c2;
        font-weight: 500;
      }

      @media (min-width: $smallest) {
        font-size: .9rem;
      }

      @media (min-width: $tablet) {
        font-size: 1.5rem;
        text-align: center;
        padding-left: 5rem;
      }

      @media (min-width: $tablet-pro) {
        font-size: 2rem;
        padding-left: 8rem;
      }

      @media (min-width: $desktop) {
        font-size: 1.5rem;
        padding-left: 10rem;
      }
    }

    .gmailIcon {
      height: 2rem;
      width: auto;
      filter: invert(40%);
      margin-right: 1.5rem;
  
      @media (min-width: $desktop) { 
        margin-left: 3rem;
        height: 3rem;
        width: auto;
        padding: 2rem;
      }
    }
  }
}

.footer {
  background-color: #5A514E;
  padding: 1rem;

  h2 {
  color: #FAFAFA;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;

  @media (min-width: $desktop) { 
    font-size: 1.2rem;
  }
  }

  h3 {
    color: #FFF8F0;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1.5rem;

    @media (min-width: $tablet) { 
      padding: 0rem 8rem;
    }

    @media (min-width: $tablet-pro) { 
      padding: 0rem 10rem;
    }

    @media (min-width: $desktop) {
      text-align: center;
      padding: 0 15rem;
      font-size: 1.2rem;
      width: 100%;
    }
  }

  h4 {
    color: #FFF8F0;
    font-weight: 300;
    @media (min-width: $desktop) { 
      
      font-size: 2rem;
    }

     a {
      color: white;
      font-weight: 500;
      text-decoration: none;

      @media (min-width: $desktop) { 
        font-size: 1.5rem;
      }

     }
  }

  p {
    text-align: center;
    padding-top: 2rem;
  }

  .gmailIcon {
    height: 3rem;
    width: auto;
    filter: invert(80%);
    margin-right: 1.5rem;

    @media (min-width: $desktop) { 
      margin-left: 3rem;
      height: 5rem;
      width: auto;
      padding: 2rem;
    }
  }


  .footerGmail {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.desktopFooter {


  @media (min-width: $desktop) {
    display: flex;
  }
}

.footer[data-page="english"] {
  background-color: #2f3f5c;
}