$tablet: 768px;      // iPad
$tablet-pro: 1024px; // iPad Pro
$desktop: 1200px;
$main-color: #1A365D;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

button {
    background-color: $main-color;
    color: white;
    padding: 1rem 2.8rem;

    margin: 1rem;
    border-radius: .5rem;
    border: none;

    font-size: 1.1rem;

    @media (min-width: $tablet) {
      // iPad
    }

    @media (min-width: $tablet-pro)  {
      // iPad Pro
    }

    @media (min-width: $desktop) {

      
    }
}