@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;           // Remove default spacing
    padding: 0;          // Remove default spacing
    background-color: #ffffff; // White background
    font-family: 'Montserrat', sans-serif; // Consistent font
  }
  

