$tablet: 768px;      // iPad
$tablet-pro: 1024px; // iPad Pro
$desktop: 1200px;


.card {
  display: flex;
  flex-direction: column;
  background-color: #f8847963;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  .lineSeparator {
    border: none;
    height: 1.5px;
    width: 90%;
    margin: 0.8rem 1rem;
    background-color: #F88379; // default
  }

  &.english {
    background-color: #F0F7FF;

    /* this targets the hr inside a card that has the english variant */
    .lineSeparator {
      background-color: #1E3A8A; // english variant
    }
  }

    .header {     
        
        img {
            height: 3rem;
            width: 3rem;
            border-radius: .5rem;
        }
        
      }
      

    .description {
        text-align: left;     
        width: 100%;
        padding: 0;
        font-size: 1.2rem;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 400;
        padding: .5rem .5rem 0rem 0rem;
    }

      p {
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: 1.5rem;
        color: #000000;
        font-weight: 300;
      }

      h3 {
        text-align: left;
        color: #868686;
        padding: 0;
        margin: .5rem 0;
      }

      h4 {
        padding: 0;
        margin: .5rem 0rem;
        font-weight: 300;
        color: #868686;

      }

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
        background-color: #f8847911;

        &.english {
          background-color: #CEE5FF;
      }

        hr {
            border-color: #d9d8d8;
        }
    }

    @media (min-width: $tablet-pro) {


      .description {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }

    ul {
      font-size: 1.1rem;
      font-weight: 300;
    }

  }

  @media (min-width: $tablet-pro) {
      font-size: 1.2rem;

  }


}