$tablet: 768px;      
$tablet-pro: 1024px; 
$desktop: 1200px;
$main-color: #1A365D;
$main-text: #0F172A;
$main-grey: #334155;



.card {
    text-decoration: none;
    list-style: none;
    background-color: #FCFBF7;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1), 
    transform 1s cubic-bezier(0.22, 1, 0.36, 1);

      &.appear {          
        opacity: 1;
        transform: translateY(0);
      }

    


    .row {
      padding: 1.5rem;
      }
      
      .row img {
        height: 3rem;
        width: 3rem;
        
      }
      
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-weight: 400;
        }
      }
      

    .title {
        margin: 0.5rem 0 0 0;   
        font-family: 'Inter', sans-serif;
        text-align: left;     
        width: 100%;
        padding: 0;
        color: $main-color;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: .1rem;

    }



      p {
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        color: $main-grey;
        font-weight: 400;
      }


    &:hover {
        transition: 0.3s;
        background-color: #fffff98c;
    }

    @media (min-width: $tablet) {

      

      .title {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }

    ul {
      font-size: 1.1rem;
      font-weight: 300;
    }

  }


}
