$tablet: 768px;      // iPad
$tablet-pro: 1024px; // iPad Pro
$desktop: 1200px;
$main-color: #1A365D;
$main-text: #0F172A;
$main-grey: #334155;
$gold-accent: #B8860B;


.card {
  display: flex;
  flex-direction: column;

  margin: 1rem;
  padding: 2rem 1.5rem;
  border-bottom: .2px solid $main-color;
  background-color: #FCFBF7;




    .header {     
        
        img {
            height: 3rem;
            width: 3rem;
            border-radius: .5rem;
        }
        
      }
      

    .description {
        text-align: left;     
        width: 100%;
        padding: 0;
        font-size: 1.2rem;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 400;
        padding: .5rem .5rem 0rem 0rem;
    }

      p {
        text-align: left;
        font-size: 1rem;
        color: $main-text;
        font-weight: 200;
        font-weight: lighter;
        font-family: 'Inter', sans-serif;
        font-style: italic;
      }

      h3 {
        text-align: left;
        color: $main-color;
        padding: 0;
        margin: .5rem 0;
      }

      h4 {
        padding: 0;
        margin: .5rem 0rem;
        font-weight: 300;
        color: $main-color;

      }

    @media (min-width: $tablet){
      border-bottom: none;
      margin: .1rem;
      min-height: 18rem;

    }
      

    @media (min-width: $tablet-pro) {

      border-bottom: none;
      border-right: .2px solid $main-color;


      .description {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }

    ul {
      font-size: 1.1rem;
      font-weight: 300;
    }

  }

  @media (min-width: $tablet-pro) {
    min-height: 25rem;

  }


}