$smallest: 375px; // Smallest phones
$tablet: 768px;      // iPad
$tablet-pro: 1024px; // iPad Pro
$desktop: 1200px;


.ContactForm {
    display: flex;
    flex-direction: column;

    &.english {
        h3 {
          color: #1E3A8A; 
        }
    
        input,
        textarea {
          border: 1px solid #c7d6f5;
          &:hover {
            background-color: darken(#4ea4e61e, 10%);
          }
        }
    
        button {
          background-color: #1E3A8A;
          &:hover {
            background-color: darken(#0f5d99, 10%);
          }
        }
      }
    



    h3 {
        margin: .2rem 0rem;
        padding: 0 .8rem;
        text-align: left;
        font-weight: 200;
        font-size: 1rem;

        @media (max-width: $smallest) {//iPhone SE
            font-size: .8rem;
            margin: 0;

        }

        @media (min-width: $tablet) {
            font-size: 1.8rem;
        }

        @media (min-width: $tablet-pro) {
            font-size: 2.2rem;
        }

        @media (min-width: $desktop) {
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
        }

    }

    input, textarea {
        background-color: rgb(239, 237, 237);
        border-radius: 1rem;
        padding: 1.1rem 1rem;
        margin: .5rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #F88379;


        &::placeholder {
            color: #acacac;          // A lighter grey to "dim" it
            opacity: 0.5;         // Makes it slightly translucent
            font-weight: 200;     // Slims down the text for a softer look
          }

        &:hover {
            background-color: darken(#fffbfb, 10%);
            border: 1px solid #676363;

            &.english {
                background-color: darken(#0f5d99, 10%);

            }

            
          }


        @media (max-width: $smallest) {//iPhone SE
        padding: .6rem 1rem;
        border-radius: .4rem;

        }

        @media (min-width: $tablet) {
            padding: 1.5rem 1rem;
            border-radius: .8rem;
        }

        @media (min-width: $tablet-pro) {
            padding: 2.5rem 1rem;
            border-radius: 1rem;
        }

        @media (min-width: $desktop) {
            padding: 1.5rem 1rem;
            border-radius: 1rem;
        }


    }
    textarea {
        padding: 2rem 1rem;

        @media (max-width: $smallest) {//iPhone SE
            padding: 1.2rem 1rem;
            border-radius: .4rem;
    
            }

        @media (min-width: $desktop) {
            padding: 3.5rem 1rem;
            border-radius: 1rem;            
        }
      }

    button {
        width: 50%;
        display: flex;
        align-self: center;
        padding: 1rem 2rem;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 300;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);



        @media (max-width: $smallest) {//iPhone SE
            font-size: 1rem;
            padding: .8rem 1rem;
            border-radius: .5rem;
            }

        @media (min-width: $tablet) {
            width: 40%;
            }
        
        @media (min-width: $tablet-pro) {
            width: 30%;
            padding: 1.5rem 1rem;
            font-size: 2rem;
            }

        @media (min-width: $desktop) {
            width: 25%;

            }

            button:disabled {
                opacity: 0.6;
                cursor: not-allowed;
              }
    }
}